<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top nav-container">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img width="70" src="assets/pngegg.png" alt=""></a>
    <button routerLink="/list" mat-raised-button color="accent">
      View Enquiries
    </button>
    </div>
</nav>
<div class="hero"> 
  <div class="hero-content">
    <h1>BEAST MODE</h1>
  </div>
</div>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>