table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.overlay {
 position: absolute;
 top: 0%;
 left: 0%;
 right: 0%;
 bottom: -280px;   
 z-index: 2;
 backdrop-filter: blur(5px);
 background-color: #95a5a662;
}


